.mb-4, [mb-4=""], [mb=""] {
  margin-bottom: 12px;
}

.ant-pro-basicLayout-content {
  margin: 12px;
}

.ant-switch .ant-switch-handle {
  top: 1px;
}

.ant-btn,
.ant-card,
.ant-input,
.ant-select-dropdown,
.ant-select-single .ant-select-selector,
.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu,
.ant-menu .ant-menu-submenu-title,
.ant-pagination .ant-pagination-item,
.ant-pagination .ant-pagination-options-quick-jumper input {
  border-radius: 3px;
}

.ant-tabs-card.ant-tabs-small.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab {
  border-radius: 3px 3px 0 0;
}

.ant-card .ant-card-body {
  border-radius: 0 0 3px 3px;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
  border-start-start-radius: 3px;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
  border-start-end-radius: 3px;
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper,
.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span {
  border-radius: 3px
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected,
.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-checkbox+span.ant-select-tree-node-selected {
  background-color: var(--pro-ant-color-primary);
}

.form-item {
  margin-bottom: 0;
}

.editable-cell {
  position: relative;
  .editable-cell-icon,
  .editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
  }
  .editable-cell-icon {
    margin-top: 4px;
    display: none;
  }
  .editable-cell-icon-check {
    margin-top: 8px;
  }
  .editable-cell-icon:hover,
  .editable-cell-icon-check:hover {
    color: var(--pro-ant-color-primary);
  }
  .editable-cell-input {
    width: 85%;
  }
  .editable-cell-select {
    width: 75%;
  }
}
.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
